*{

}
.answer{
    display: flex;
    flex-direction: column;
    height: auto;
    /* text-align: center; */
    padding-left: 40%;
}
.test{
    background-color: #fdfbf9;
    padding: 20px 20px;
    margin: 20px 20px;
}
.aside-main{
    display: flex;
    flex-direction: column;
    background-color: #fcf3f3;
    width: 80%;
    margin: 0 auto;
}
.socau {
    background-color: orange;
    width: 10%;
    /* height: 6%; */
    text-align: center;
    border: solid 1px gray;
    margin: 5px 20px;
}

.question {
    text-align: center;
    padding: 10px 0px 25px 0px;
}
.count {
    background: orange;
    height: 40px;
    width: 20%;
    text-align: center;
    /* align-items: center; */
    padding-top: 10px;
    /* border-bottom-color: blueviolet; */
    border: solid 1px gray;
    margin-top: 5px;
    margin-left: 20px;
}