*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
button,form,input{
    box-sizing: border-box;
}

body{
    background: #f0f0f0;
    font-family:Helvetica, sans-serif
}
a{
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.web-content{
    grid-gap: 10px;
}
header{
    /* height:55px; */
    background: crimson;
    display: grid;
    margin-bottom: -5px;
}
.content{
    z-index: 1;
    height:1451px;
    background: #f0f0f0;
    width: 79%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'aside1 aside1 aside2'
        'promotebanner promotebanner promotebanner'
        'infclass infclass topuser'
        'product product product';
    grid-gap:10px;
    grid-template-rows: 25% 8% 38% 30%;
    overflow: hidden;
}
.aside1{
    grid-area: aside1;
    background: #fff;
    position: relative;
}
.aside2{
    grid-area: aside2;
    background: #f0f0f0;
    display: grid;
    grid-auto-columns: repeat(3,1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(70px, 1fr)); */
    z-index: 2;
    grid-gap:10px;
    
}
.promotebanner{
    grid-area: promotebanner;
    background: black;
   
}
.promotebanner a{
      width: 100%;
      height: 100%;
}
.inf-class{
    grid-area: infclass;
}
.top-user{
    grid-area: topuser;
    background: #fff;
    display: grid;
    grid-template-rows: repeat(7,1fr);
    box-shadow: 0 11px 20px 0 rgba(97,108,121,.17);
  
}
.d-flex{
    display: flex;
    align-items: center;

}
.d-flex div img{
    border-radius: 50%;
}
.nameusertop{
    margin: 0 10px;
}
.product{
    grid-area: product;
    background: #fff;
    position: relative;
}
footer{
    height: 152px;
    background: aqua;
}
.header-content{
    width: 78.9%;
    margin:0 auto;
    display: grid;
    grid-template-columns: 14% 53% auto;
    height: 100%;
}
.logo{
    background: gold;
}

.logo .logo_icon{
   
    display: block;
    z-index: 2;
    margin-left:5px;
    margin-top:3px;
    min-width:156px;
    height:30px;
    background:url(https://cdn.thegioididong.com/v2015/Content/desktop/images/V4/icondesktop@1x.png?v=001) 0px 0px;
}
.search-site{
   
}
nav{
    
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 55px;
}
.search-site{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -6px;
    height: 55px;
}
.search-site input{
    width: 85%;
    padding: 11px 42px 9px 11.5px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 13px;
    margin-left: 8px;
    background: #fff;
}
.search-site button{
    position: relative;
    background: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    padding-top:8px;
    padding-bottom: 7px;
    padding-right: 10px;
}
.search-site button .fa_search{
    display: block;
    z-index: 999;
    width:20px;
    height:20px;
    background:url(https://cdn.thegioididong.com/v2015/Content/desktop/images/V4/icondesktop@1x.png?v=001) -160px 0px;
}
nav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 55px;
}
nav a{
    text-decoration: none;
    font-size: 10px;
    color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
nav a:hover{
    /* background: #eee; */
}

nav a i{
    display: inline-block;
    margin-bottom: 5px;
}
nav a div{
   font-size: 11px;
}

nav a .phone-icon{
    width:16px;
    height:25px;
    background: url(https://cdn.thegioididong.com/v2015/Content/desktop/images/V4/icondesktop@1x.png?v=001) 310px 0px;
}
nav a .table-icon{
    width:33px;
    height:22px;
    background: url(https://cdn.thegioididong.com/v2015/Content/desktop/images/V4/icondesktop@1x.png?v=001) 292px 0px;
}

.fa {
    padding: 15px 16px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
  }
.fa:hover {
    /* opacity: 0.7; */
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
  


  
.fa-google {
    background: #dd4b39;
    color: white;
}
nav a.text{
    
    font-size: 11px;
    text-align: center;
    border-left: #bbb solid 1px;
}
/* nav menu */
.menu {
    grid-area: menu;
    background-image: linear-gradient(to right, #274B74, #8233C5 , #E963FD);
}
.menu-home {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    text-align: center;
    margin-top: 5px;
}
div.menu-home a {
    float: left;
    text-decoration: none;
    font-size: 15px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* slide */

 .cac-slide {
    width: 100%;
    height: 700px;
    overflow: hidden;
    
 }
 .slide {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    
    
 }
 .slide.active{
    opacity: 1;
    visibility: visible;
 }
 .nut-slide span{
    color: black;
    font-size: 60px;
    opacity: 0.6;
 }
 span#btn-prev{
    position: absolute;
    top: 30%;
    left: 0%;
    z-index: 10;
    cursor: pointer;
 }
 span#btn-next{
    position: absolute;
    top: 30%;
    right: 0%;
    z-index: 10;
    cursor: pointer;
 }
 .nut-slide ul {
    background: #fff;
    position: absolute;
    width: 100%;
    bottom: 3%;
    display: flex;
    justify-content:space-around;
    list-style: none;
 }
 .nut-slide ul li {
    list-style: none;
    cursor: pointer;
    transition: 0.6s;
    text-align: center;
    opacity: .6;
    font-size: 12px;
 }
 /* xu ly slide */
 .Banner {
    display: flex;
    margin-top: 8px;
  }
  
  .Carousel {
    flex: 0 0 68%;
  }
  
  .Carousel-nav {
    border: 1px solid #ddd;
    display: flex;
    min-height: 50px;
  }
  
  .Carousel-nav-item {
    align-items: center;
    border-right: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 12px;
  }
  .Carousel-nav-item p{
    list-style: none;
    cursor: pointer;
    transition: 0.6s;
    text-align: center;
    opacity: .6;
  }
  
  .Carousel-nav-item:hover {
    background: #ddd;
  }
  
  .Carousel-nav-item:last-child {
    border-right: none;
  }
  
  .Carousel-nav-item--active, .Carousel-nav-item--active:hover {
    color: blue;
    font-size: 12px;
  }
  
  .Carousel-nav-item--active .Carousel-nav-item__txt {
    color: #fff;
  }
  
  .Banner-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 15px;
  }
  
  .Banner-content__item {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 5px;
    width: 100%;
  }
  
  .Banner-content__item:last-child {
    margin-bottom: 0;
  }
  @media screen and (max-width: 1024px) {
    .Banner {
      flex-direction: column;
    }
    .Carousel {
      flex: 0 0 auto;
      width: 100%;
    }
    .Banner-content {
      flex-direction: row;
    }
    .Carousel-nav {
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 25px;
      border: none;
      bottom: 0;
      min-height: 30px;
      margin: -40px auto 0;
      position: relative;
      width: 200px;
    }
    .Carousel-nav-item {
      background: #828282;
      border: none;
      border-radius: 50%;
      height: 15px;
      width: 15px;
      margin-right: 3px;
      
    }
    .Carousel-nav-item--active, .Carousel-nav-item--active:hover {
      background: #fff;
    }
  }
  
  /*********************** Carousel *********************/
  .Carousel-content {
    overflow: hidden;
    position: relative;
  }
  
  .Carousel-content-list {
    display: flex;
    position: relative;
  }
  
  .Carousel-content-item {
    min-width: 100%;
  }
  
  .Carousel-content__btn {
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, .3) , rgba(0, 0, 0, 0));
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .Carousel-content__btn::after {
    border-color: #fff #fff transparent transparent;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: "";
    height: 20px;
    transform: rotate(-135deg);
    width: 20px;
  }
  
  .Carousel-content__btn--right {
    background: linear-gradient(to left, rgba(0, 0, 0, .3) , rgba(0, 0, 0, 0));
    right: 0;
  }
  
  .Carousel-content__btn--right::after {
    transform: rotate(45deg);
  }
  .bien-mat-ben-trai{
     animation: bien-mat-ben-trai .4s ease-in-out forwards;
 }
 @-webkit-keyframes bien-mat-ben-trai{
     from{
        transform: translateX(0%);
     }
     to{
        transform: translateX(-100%);
        
     }
 }
 .di-vao-ben-phai{
     animation: di-vao-ben-phai .4s ease-in-out forwards;
 }
 @-webkit-keyframes di-vao-ben-phai{
     from{
        transform: translateX(100%);
     }
     to{
        transform: translateX(0%);
     }
 }
 ul li.active1{
     opacity: .8;
     font-weight: bold;
 }
/* xu li nut btn-prev */
/*  */
/*  */
 .bien-mat-ben-phai{
    animation: bien-mat-ben-phai .4s ease-in-out forwards;
}
@-webkit-keyframes bien-mat-ben-phai{
    from{
       transform: translateX(0%);
    }
    to{
       transform: translateX(100%);
    }
}
.di-vao-ben-trai{
    animation: di-vao-ben-trai .4s ease-in-out forwards;
}
@-webkit-keyframes di-vao-ben-trai{
    from{
       transform: translateX(-100%);
    }
    to{
       transform: translateX(0%);
    }
} */
.aside2 div figure{
    border-bottom: 1px solid #efefef;
    display: block;
    height: 40.6px;
    margin-bottom: 3px;

}
.aside2 div figure h2{
    float: left;
    padding: 10px 20px 10px 10px;
    background: #fdd504;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    
}
.aside2 div figure h2 a{
    text-decoration: none;
    color:#444;
}
.aside2 div figure h2::after{
        content: '';
        width: -100px;
        height: 0;
        border-right: 12px solid #fff;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0; 
}
.aside2 div .banner0{
    display: block;
    overflow: hidden;
    background: #fff;
}
.aside2 div .banner0 a img{
    width: 122px;
    height: 78px;
    float: left;
    margin-right: 5px;
}
.aside2 div .banner0 a h3{
    font-size: 13px;
    line-height: 1.3rem;
    display: block;
    overflow: hidden;
    height: 36px;
    color: #333;
    margin: 11px 3px;
}
.aside2 div .banner0 a span{
    color: #999;
    font-size: 11px;
}
.banner-right1{
    margin-top: -5px;
}
.banner-right2{
    margin-top: -10px;
}
.inf-class {
    display: grid;
    grid-template-rows: repeat(5,1fr);
    text-align: center;
}
.thongbao {
    background: url('../img/images/title_2.png') no-repeat;
    width: 325px;
    height: 49px;
    /* margin-left: -11px;
    margin-top: 15px; */
}
.thongbao a {
    float: left;
    color: #fff;
    font: 13px Arial, Helvetica, sans-serif;
    padding-left: 60px;
    padding-top: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.title {
        color: #054690;
        float: left;
        width: 280px;
        margin-left: 53px;
        margin-bottom: 10px;
        margin-top: 10px;
        font: 14px Arial, Helvetica, sans-serif;
        font-weight: bold;
}
.product{
   
}
.product .navigat{
    background: #fff;
    display: flex;
    justify-content: space-between;
    height:45px;
    align-items: center;
}
.product .navigat h2{
    font-size: 16px;
    display: inline;
    padding-left:7px;
    text-transform:uppercase;
    color:#333;
}
.product .navigat a{
    font-size: 14px;
    padding-left:18px;
    color: #288ad6;
}
.product .navigat a:last-child{
    margin-right:10px;
}
.product .productnew{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background: #fff;
    margin-top:5px;
}
.product .productnew .boxProduct{
    border: solid 1px #eee;
    border-bottom: none;
    padding-bottom: 9px;
}
.product .productnew .boxProduct img{
    width: 180px;
    height: 180px;
    margin: 15px auto 24px;
}
.product .productnew .boxProduct h3{
    font-size: 14px;
    line-height: 1.3rem;
    color:#666;
    margin-left: 5px;
}
.product .productnew .boxProduct p{
    color: red;
    font-weight: bold;
    display: inline-block;
    margin: 10px 5px;
}
.product .productnew .boxProduct span{
    color: #666;
    font-size: 12px;
    text-decoration: line-through;
}
.product .productnew .boxProduct .destation{
    font-size:12px;
    color: #555;
    margin: 0 5px 10px 5px;
}
.productnew{
    opacity: 0;
    position: absolute;
   /* max-width: 122px; */
}
.active_product{
    opacity: 1;
    visibility: visible;
}
.nut-slide-productnew span{
    color: black;
    font-size: 60px;
    opacity: 0.6;
 }
span#btn-prev-productnew{
    position: absolute;
    top: 30%;
    left: 0%;
    z-index: 10;
    cursor: pointer;
    
    display: grid;
    align-items: center;
    padding: 17px 6px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.34);
    
 }
 span#btn-next-productnew{
    position: absolute;
    top: 30%;
    right: 0%;
    z-index: 10;
    cursor: pointer;
    display: grid;
    align-items: center;
    padding: 17px 6px;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.29);
 }
 footer{
     background: #fff;
 }
 .footer-content{
     width: 79%;
     margin: 0 auto;
     /* display: grid; */
     /* grid-template-columns: repeat(3,1fr); */
     margin-top: 20px;
 }
 .footer-content ul {
     padding: 10px;
     padding-bottom: 30px;
 }
 .footer-content ul li{
    text-align: center;
    margin-top: 12px;
 }


 /* reponsive
  */


  @media only screen and (max-width:1180px)
  {
      /* body{
          background: rebeccapurple;
      } */
      .nocontent{
        display: none;
      }
      .header-content{
        min-width: 100%;
      }
      .content{
        min-width: 100%;
      }
      .logo .logo_icon{
         min-width: 29px;
      }
      .search-site input{
          padding-right:5px;
      }
      .content{    
        height:779px;      
        grid-template-rows: 39% 9% 52%;
    }
   
  }
 
  @media only screen and (max-width:1024px)
  { 
        .Carousel-nav .js-carouselNavItem p{
            display: none;
        }
        div .banner0:last-child {
            display: none;
          }
      /* body{
          background: rebeccapurple;
      } */
      .header-content{
        min-width: 100%;
      }
      .content{
        min-width: 100%;
      }
      .logo .logo_icon{
         min-width: 29px;
      }
      .search-site input{
          padding-right:5px;
      }
      .content {
        height: 779px;
        grid-template-rows: 33% 9% 58%;
    }
       .Carousel-content{
            height: 270px;
       }
       .banner0{
           height: 73px;
       }
   
  }
 
  @media only screen and (max-width:768px)
  {
     .content{
         display: none;
     }
      .header-content nav.nav-laptop{
        display: none;
      }
      /* .header-content{
          display: flex;
          justify-content: flex-end;
      } */
      .header-content nav.nav-destop{
        /* float: right; */
        display: flex;
        /* justify-content: flex-end; */
        align-items: center;
        margin-right:20px;
      }
      .header-content nav.nav-destop .menu-reponsive{
        margin-left: -10px;
        width:33px;
        height:33px;
        background:url(https://cdn.thegioididong.com/v2015/Content/mobile/images/V4/iconmobile@2x.png?v=2) -100px 0px;
        background-size: 285px 140px;
    }
      .header-content{
        min-width: 100%;
        grid-template-columns: 14% 77% 8.8%;
      }
      .content{
        min-width: 100%;
      }
      .logo .logo_icon{
         min-width: 29px;
      }
      .search-site input{
          padding-right:5px;
          width: 400px;
          padding: 10px 42px 9px 17.5px;
      }
      .content{    
        height:779px;      
        grid-template-rows: 39% 9% 52%;
    }
  }
 

