ul, li {
  list-style-type: none;
}
.dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    position: relative;
  }
  
  .dropdown {
    /* background: #f8f8f8; */
    margin-top: -36px;
    padding: 10px;
    border-radius: 3px;
    width: 140px;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  }
  
  .fa-angle-down {
    position: relative;
    top: 2px;
    font-size: 1.3rem;
    transition: transform 0.3s ease;
  }
  
  .rotate-dropdown-arrow {
    transform: rotate(-180deg);
  }
  
  .dropdown-menu {

    display: none;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 8px;
    width: 160px;
    padding: 10px;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
    /* background: #fafafa; */
    transform-origin: top left;
    position: absolute;
    top: 33px;
    z-index: 100;
  }
  
  .dropdown-menu span {
    padding: 10px;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .dropdown-menu span:last-child {
    border: none;
  }
  
  .dropdown-menu span:hover {
    background: #eee;
  }
  
  #openDropdown:checked + .dropdown-menu {
    display: flex;
    animation: openDropDown 0.4s ease;
  }
  .my-facebook-button-class{
    border: none;
    background: none;
    margin-top: 5px;
  }
  .nav-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .Menu-list-item-sub {
    color:#000;
    z-index: 99999999;
    bottom: 0;
    box-shadow: 0 11px 20px 0 rgba(97,108,121,.17);
    /* display: none; */
    left: 0;
    position: absolute;
    transform: translate(0, 100%);
    background: white;
    border-radius: 0 0 4px 4px;
}
.Menu-list-item-sub-list {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  border-radius: 0 12px 12px 0;
}
.Menu-list-item-sub-item {
  padding: 10px 25px;
  text-align: left;
  width: 50%;
}
.Menu-list-item-sub-item a{
  color:#333 !important;
}
 /* ul:hover{

} */
.nav-header li:hover .Menu-list-item-sub {
  display: block;
}
  @keyframes openDropDown {
    from { transform: rotateX(50deg); }
    to { transform: rotateX(0deg); }
  }