.hstieubieucuanuoc{
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}
._item_ques {
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 20px;
    margin: 10px 0 25px;
    padding: 20px;
    background-color: #fff;
}
._item_ques ._title {
    line-height: 40px;
}
.ctr_ques_gt {
    position: relative;
    cursor: pointer;
    color: #c3c3c3;
    display: inline-block;
    vertical-align: top;
    float: right;
    font-size: 22px;
    margin-top: -10px;
}
.box_content_ctr {
    font-size: 14px;
    color: #737373;
    padding: 10px 0 0 0;
    border-top: 1px solid #ececec;
}
.box_content_ans {
    margin: -20px;
    padding: 0 25px;
    background-color: #ecf5f5;
    border-radius: 0 0 3px 3px;
}
._item_ans:first-child {
    border-top: none;
}
._item_ans .gt-ct-ans {
    margin-left: 60px;
}
.gt-ava-mem {
    width: 50px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 50%;
}
._gt-member{
    display: flex;
}
.box_content_hint {
    background-color: #ecf5f5;
    padding: 15px;
    clear: both;
    margin-left: -20px;
    margin-right: -20px;
}
.box_content_hint .box_content_hint {
    cursor: pointer;
    background-color: #fff;
    padding: 8px 15px;
    border: 1px solid #d7dbe5;
    border-radius: 3px;
    font-size: 14px;
    color: #a6a6a6;
    margin: 0 8px 10px;
}
.gt_usn{
    margin-left: 10px;
}